parameters:
- name: cxService
  type: string
  default: SAST-Bug

variables:
- name: debug
  value: true 
pool:
    name: Default
#     vmImage: 'ubuntu-22.04'


steps:
- task: Checkmarx.cxsast.cx-scan-task.Application security testing@2025
  displayName: 'Application security testing'
  inputs:
    projectName: 'FullPipeline'
    syncMode: true
    enableProxy: false
    enableSastScan: true
    CheckmarxService: SAST-Bug    
    preset: Android
    customPreset: 'All'     
    fullTeamName: /CxServer    
    overrideProjectSettings: false
    incScan: true
    fullScansScheduled: true
    fullScanCycle: 5
    forceScan: false
    folderExclusion: cvs, .svn, .hg , .git, .bzr, bin , obj,  backup, .idea, node_modules
    fileExtension: "**/*.java, **/*.html"
    manifestPattern: "**/folder1/**, !**test.yaml"
    fingerprintPattern: "**/folder1/**, !**test.yaml",**/pom.xml
    projectCustomTags: 'ENV: DEV'
    scanCustomTags: 'ENV: DEV'
    scaScanTimeout:
    scanTimeout: 15        
    denyProject: false
    comment: 'Sample YAML File'    
    generatePDFReport: true
    vulnerabilityThreshold: true
    failBuildForNewVulnerabilitiesEnabled: true
    failBuildForNewVulnerabilitiesSeverity: MEDIUM
    high: 10
    medium: 10
    low: 10
    enablePolicyViolations: false
    avoidDuplicateScans: false
    enableDependencyScan: true
    dependencyServerURL: 'SCA'    
    dependencyFileExtension: ''
    dependencyFolderExclusion: ''
    scaTeam: /CxServer
    includeSource: false      
    CheckmarxServiceForSca: SAST-Bug        
    scaEnablePolicyViolations: false
    scaVulnerabilityThreshold: true
    scaHigh: 10
